
.widget-task {
  background-color: #107abb;
  padding: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

/* стилизация блока задач */

.block-task-list {
  background-color: #dee2e5;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}
.block-task-list:nth-child(n + 2) {
  margin-left: 15px;
}

.block-title {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  margin-bottom: 10px;
}

.title-task-list {
  font-weight:bold;
  text-transform: uppercase;
}

.title-menu {
  font-size: 36px;
  line-height: 0;
  color: #b4b3b3;
}

.task-item {
  position: relative;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #b7c0c7;
  border-radius: 5px;
}

.task-item:nth-child(n + 2) {
  margin-top: 10px;
}

.task-item:hover .delete-item {
  opacity: 1;
}

.delete-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dee2e5;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  opacity: 0;
  transform: opacity;
  transition-duration: .2s;
}

.delete-item::after {
  content: "\2716";
  display: inline-block;;
  line-height: 0;
  font-size: 12px;
  color: #91989e;
}

.content-block:nth-child(n + 2) {
  margin-top: 10px;
}

.img {
  display: inline-block;
  width: 100%;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon:nth-child(n + 2) {
  margin-left: 10px;
}
.icon {
  font-size: 12px;
  color: #91989e;
}

.icon:nth-child(n + 2) {
  margin-left: 10px;
}

.like::before {
  content: "\01F44D";
  margin-right: 3px;
}

.list::before {
  content: "\2630";
  margin-right: 3px;
} 

.chat::before {
  content: "\2709";
  margin-right: 3px;
}

.check::before {
  content: "\2611";
  margin-right: 3px;
}

.add-block {
  margin-top: 10px;
  color: #91989e;
}

.add-block::before {
  content: "\271A";
}